nav{
  color: white;
  background-color: #282c34;
  grid-row: 1/8;
  grid-column: 1/3;

  .thirdtitle{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    text-decoration: underline;
    pointer-events: none;
    transform: rotate(-90deg);
    padding-top: 20px;
    position: relative;
    top: 0;
    right: 40%;

  }
  p{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 794px) {
nav{
  grid-row: 1/8;
  grid-column: 1/4;
}
}