.containerartik{
  grid-column: 4/10;
  height: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 794px) {
  .containerartik{
    grid-column: 4/11;
  }
}
@media (max-width: 512px) {
  .containerartik{

  }
}