.popup{
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 75px;
  background-color: black;
  div{
    display: flex;

  }
  .bordering{
  }
}