@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
  font-family: 'Balsamiq Sans', cursive;
}

.application{
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
}
.wrapper{
  grid-column: 4/10;
  .thirdtitle{
    margin-left: 5%;
  }
}

.divinfo{
  margin-left: 10%;
  font-size: x-large;
}

.appformat{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  h1{
    text-transform: uppercase;
    text-decoration: underline;
  }
  p{
    text-align: center;
    font-size: x-large;
  }
  h3{

  }
}
@media (max-width: 794px) {
.wrapper{
  grid-column: 4/11;
}
}