.artik{
  margin: 2rem 0.2rem;
  width: 290px;
  height: 376px;
  border: #282c34 solid;
  border-radius: 6px;
  h5{
    display: flex;
    justify-content: center;
    font-size: large;
  }
  img{
    margin-top: 0.5rem;
    background-size: cover;
  }
  .textcard{
    height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: small;
    margin: 0 4px;
  }
  .deployer{
    display: flex;
    justify-content: center;
    background-color: #282c34;
    color: white;
    border-radius: 0 0 5px 5px;
  }
}
@media (max-width: 512px) {
  .artik{
    height: 370px;
    width: 250px;

    border-radius: 8px;
    img{
      width: 240px;
      height: 145px;
    }
  }
}