%centermain{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  text-transform: uppercase;
  text-decoration: underline;
}
.maintitle {
  font-size: xx-large;
  grid-column: 6/8;
  @extend %centermain;
}
.mainparag{
  @extend %centermain;
}