.imageformat{
  display: flex;
  margin: 0 auto 5% auto;
  border-radius: 5px;
  width: 280px;
  height: 150px;
  border: solid 1px #282c34;
}

.bounce{
  animation: bounce 0.5s;
  animation-delay: 0s;
}
.pulse{
  animation: pulse 0.5s;
  animation-delay: 0s;

}
.rubberBand{
  animation: rubberBand 0.5s;
  animation-delay: 0s;

}