.linking{

  display: flex;
  margin: 35px;
  font-size: x-large;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  color: white;
  border-radius: 10px;
  transition: ease-in-out 1s;

  &:hover{
    color: #282c34;
    background-color: rgb(255, 255, 255);
    box-shadow: #ffffff 2px 2px;
  }


}
.activelink{
  background-color: #4e0000 !important;
}